.body * {
    background-color: rgb(213, 213, 213);
    text-align: center; 
}
.dark-mode {
    background-color: rgb(0, 0, 0);
    color: white;
 }

#Title {
    text-align: center;
    font-size: 50px; 
    font-weight: bold; 
    text-decoration: underline;
    color: rgb(0, 0, 0);
}