.body {
    background-color: rgb(213, 213, 213);
    text-align: center; 
}

#Title {
    text-align: center;
    font-size: 50px; 
    font-weight: bold; 
    text-decoration: underline;
}

#Buttons {
    text-align: center;
}

.dark-mode {
    background-color: rgb(0, 0, 0);
    color: white;
 }

 .g-recaptcha {
    display: flex;
    justify-content: center; 
 }

 .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
 }

 #Lotsoftext {
    position: fixed;
    bottom: 0;
    width: 100%;
 }
